
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #92061d;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


header {
    text-align: center;
    border-bottom: 2px solid #db0925;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #160abd;
    object-fit: cover;
}

.profile .info {
    text-align: left;
}

.profile h1 {
    margin: 0;
    font-size: 2rem;
    color: #007bff;
}

.profile p {
    font-size: 1.2rem;
    color: #666;
}


section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #007bff;
}


p, ul {
    margin: 0;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.job {
    margin-bottom: 15px;
}

.job h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}
